[submodule "FunctionBinder"]
	path = FunctionBinder
	url = https://github.com/CaseyNelson314/FunctionBinder.git
[submodule "actuator/FunctionBinder"]
	path = actuator/FunctionBinder
	url = https://github.com/CaseyNelson314/FunctionBinder.git
