#
#    Unit Tests
#
#    Copyright (c) 2022-2023 udonrobo
#

name: Unit Tests

on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Clone submodules
        run: git submodule update --init --recursive

      - name: Build
        working-directory: test/UnitTest
        run: cmake -S . -B Build && cmake --build Build

      - name: Run tests
        working-directory: test/UnitTest/Build
        run: ctest --output-on-failure
